<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="AppDBCS" connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;Initial Catalog=ORM;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="RepoType_MultiTypeDB1" connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;Initial Catalog=RepoType_MultiTypeDB1;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="TargetMultiDB_Student" connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;Initial Catalog=TargetMultiDB_Student;Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="TargetSingleRepos_SchoolDb" connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;Initial Catalog=TargetSingleRepos_SchoolDb;Integrated Security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>