<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <connectionStrings>
      <add name="TPH"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=TPH;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_DAA_One_One_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_DAA_One_One_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_FAPI_One_One_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_FAPI_One_One_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_DAA_One_Many_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_DAA_One_Many_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_FAPI_One_Many_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_FAPI_One_Many_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_DAA_Many_Many_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_DAA_Many_Many_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="EF_FAPI_Many_Many_Mapping"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=EF_FAPI_Many_Many_Mapping;
           Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="DiscArch"
           connectionString="Data Source=DESKTOP-A16AJK2\SQLEXPRESS;
           Initial Catalog=DiscArch;
           Integrated Security=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>